
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listCreateProduct = (List<Model.EF.Product>)ViewBag.ListCreateProduct;
}

<div id="lindo_single_pages" class="mt-3 mb-3">
    <div class="container">


        <div class="clearfix"></div>
        <div class="row">

            <div class="col-12 col-sm-12 col-md-9 col-lg-9">
                <div class="clearfix"></div>
                <div class="breadcrumbs bg-light rounded p-1">
                    <!-- Breadcrumb NavXT 6.6.0 -->
                    <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Sữa Bột Tốt | Hệ Thống Cửa Hàng SuaBotTot.com." href="https://suabottot.com" class="home"><span property="name">Trang chủ</span></a><meta property="position" content="1"></span> » <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to the Tin HOT category archives." href="https://suabottot.com/tin-hot/" class="taxonomy category"><span property="name">Tin HOT</span></a><meta property="position" content="2"></span> » <span class="post post-post current-item">Giới thiệu Sữa Bột Tốt – SuaBotTot.com</span>
                </div>
                <div class="clearfix"></div>
                <article id="single-page-2019">
                    <h1 class="entry-title text-primary mt-2 mb-2 font-weight-bold">Giới thiệu Sữa Bột Tốt – SuaBotTot.com</h1><hr>
                    <div class="entry-content">
                        <h2 style="text-align: center;"><span style="font-size: 12pt; color: #22409a;"><strong>SUABOTTOT.COM – TRANG TMĐT CHUYÊN SỮA CÔNG THỨC HÀNG ĐẦU VIỆT NAM</strong></span></h2>
                        <p style="text-align: justify;"><strong>Nuôi con</strong> là một hành trình, và mẹ từng rất tự hào khi hành trình của mình là những ngày tháng khỏe mạnh và khôn lớn của con. Mẹ lúc nào cũng muốn dành nhiều thời gian chăm sóc và dạy dỗ con cái, cũng như mang đến những điều tốt đẹp nhất cho con yêu của mình. Tuy nhiên, cuộc sống ngày càng bận bịu, công việc gia đình, công sở đã chiếm hết thời gian của các mẹ để có thể tìm hiểu và lựa chọn sản phẩm tốt và thuận tiện.</p>
                        <p>Thấu hiểu được nỗi niềm của các mẹ <strong>Sữa Bột Tốt – SuaBotTot.com </strong>ra đời và phát triển là website thương mại điện tử với mong muốn mang đến một dịch vụ đẳng cấp, thuận tiện và tiết kiệm. Quý khách có thể dễ dàng tìm kiếm các sản phẩm sữa phù hợp với nhu cầu. Với tiêu chí Chính Xác, Minh Bạch, Đa Dạng, Tiết Kiệm và Đầy đủ Ưu Đãi, chúng tôi luôn cung cấp tới khách hàng thông tin, chính sách bán hàng đầy đủ, kịp thời, rõ ràng nhất, cùng với phương thức thanh toán an toàn, tiện lợi nhất. Giờ đây, khách hàng có thể mua Sữa ở bất cứ đâu, bất cứ lúc nào, với chỉ vài thao tác trên máy tính hoặc điện thoại di động.</p>
                        <p style="text-align: justify;"><strong><span style="color: #22409a;">SỮA BỘT TỐT</span></strong><strong>&nbsp;</strong>cho bạn cảm giác <strong>AN TOÀN</strong> như đang được mua sắm trực tiếp tại các Cửa hàng, Siêu thị mà không phải đi đâu cả. Chúng tôi nỗ lực xây dựng một điểm đến <strong>THUẬN LỢI</strong> cho giao dịch của bạn.</p>
                        <p style="text-align: justify;">Thông qua mối quan hệ giao thương đặc biệt với các nhà sản xuất, đại lý chính thức của các công ty phân phối sữa trong và ngoài nước, chúng tôi hoàn toàn tin tưởng có thể đem lại cho bạn những sản phẩm tốt nhất – giá cả tốt nhất trên thị trường. Đồng thời chúng tôi luôn đảm bảo về chất lượng hàng hoá cũng như dịch vụ giao hàng tận nơi nhanh nhất (làm việc cả Chủ Nhật và ngày lễ).</p>
                        <p style="text-align: justify;"><strong>Sữa Bột Tốt </strong>nhận giao hàng và thanh toán theo mọi hình thức để tạo thuận lợi nhất cho quý khách hàng với chính sách bán hàng toàn Quốc. Quý khách hàng có thể thanh toán và nhận hàng qua hình thức COD (nhận hàng rồi mới giao tiền), chuyển khoản ngân hàng trước và được giao hàng tận nhà bằng chuyển phát nhanh, hoặc gửi theo xe khách về các tỉnh,… Đặc biệt, shop giao hàng <strong>MIỄN PHÍ</strong> trong nội thành Hà Nội. Với uy tín nhiều năm cung cấp các sản phẩm sữa Nhập khẩu trên thị trường nên việc giao dịch luôn nhanh chóng và bảo đảm. Quý khách hàng quan tâm đến sảm phẩm do <strong>SuaBotTot.com</strong> cung cấp.</p>
                        <p style="text-align: justify;">Shop khuyến khích quý khách hàng đến tận nơi xem sản phẩm để an tâm khi mua các sản phẩm đặc trị ngoài ra có thắc mắc gì về sản phẩm shop có thể hỗ trợ trực tiếp để quý khách có đủ thông tin và sử dụng sản phẩm hiệu quả hơn.</p>
                        <p style="text-align: justify;"><strong>Sữa Bột Tốt</strong> luôn đồng hành cùng cha me chăm sóc con cái!</p>
                        <hr>
                        <p><span style="color: #0000ff;">Ý NGHĨA LOGO</span></p>
                        <p><img class="alignleft wp-image-31520 lazyloaded" src="https://suabottot.com/wp-content/uploads/2015/07/logo-suabotot-web.png" alt="Logo Sữa Bột Tốt" width="288" height="82" sizes="(max-width: 288px) 100vw, 288px" srcset="https://suabottot.com/wp-content/uploads/2015/07/logo-suabotot-web.png 1000w, https://suabottot.com/wp-content/uploads/2015/07/logo-suabotot-web-300x86.png 300w, https://suabottot.com/wp-content/uploads/2015/07/logo-suabotot-web-768x219.png 768w, https://suabottot.com/wp-content/uploads/2015/07/logo-suabotot-web-400x114.png 400w" data-ll-status="loaded"><noscript><img class="alignleft wp-image-31520" src="https://suabottot.com/wp-content/uploads/2015/07/logo-suabotot-web.png" alt="Logo Sữa Bột Tốt" width="288" height="82" srcset="https://suabottot.com/wp-content/uploads/2015/07/logo-suabotot-web.png 1000w, https://suabottot.com/wp-content/uploads/2015/07/logo-suabotot-web-300x86.png 300w, https://suabottot.com/wp-content/uploads/2015/07/logo-suabotot-web-768x219.png 768w, https://suabottot.com/wp-content/uploads/2015/07/logo-suabotot-web-400x114.png 400w" sizes="(max-width: 288px) 100vw, 288px" /></noscript></p>
                        <p>Sữa Bột Tốt – tên gọi xuất phát từ sứ mệnh đem đến cho người Việt Nam nguồn dinh dưỡng sữa công thức tốt nhất và an toàn nhất. Với mong mốn giúp ích được cho ba mẹ Việt đã quá vất vả lo toan cho cả gia đình có thể an tâm hơn khi đến với Sữa Bột Tốt. Được góp phần vào chăm con – những thiên thần của tương lai chúng tôi thấy vinh dự và tự hào khi nhìn thấy con yêu phát triển khỏe mạnh, thông minh nhanh nhẹn.</p>
                        <p>Với sứ mệnh này, chúng tôi – Sữa Bột Tốt luôn luôn ý thức được vai trò và hướng đến những điều tốt đẹp nhất để cung cáp dòng sản phẩm sữa công thức chất lượng. Chính vì vậy mà chúng tôi hiểu rằng mình cần phải tạo ra giá trị cao hơn cho khách hàng và kinh doanh bằng cả trái tim và khối óc.</p>
                        <p>Từ những tình yêu thương bao la đó, chúng tôi truyền giá trị và ý nghĩa này vào Logo với ý nghĩa:</p>
                        <p>– Hình giọt sữa màu xanh lớn nhất thể hiện giá trị cốt lõi chuyên sâu về dòng Sữa Công Thức.</p>
                        <p>– Hình người (em bé) trong giọt sữa với 2 cánh tay vươn lên thể hiện sự khỏe mạnh. Hai cánh tay vươn tơi ngôi sao thể hiện sự vươn lên với trí thức. Màu vàng thể hiện con cái quý như vàng.</p>
                        <p>– Hình sao 4 cánh thể hiện sự tinh tế và tuyệt vời từ nguồn dinh dưỡng quý giá dành cho con người.</p>
                        <p><strong>Các màu hình thành Logo thể hiện giá trị đó và:</strong></p>
                        <p><span style="color: #22409a;"><strong>Màu xanh</strong></span>: Tượng trưng cho sự vươn lên không ngừng của thương hiệu Sữa Bột Tốt để đem đến giá trị và lợi ích cho khách hàng.</p>
                        <p><span style="color: #1ea0f4;"><strong>Màu xanh</strong></span>: Thể hiện sự sống khỏe mạnh cũng như một thương hiệu uy tín mang lại giá trị niềm tin cho khách hàng.</p>
                        <p><span style="color: #fdcb2e;"><strong>Màu vàng</strong></span>: Thể hiện những điều quý giá nhất trong cuộc sống</p>
                        <hr>
                        <p><strong>Hệ thống cửa hàng Sữa Bột Tốt – SuaBotTot.com</strong></p>
                        <p><strong>RẤT HÂN HẠNH ĐƯỢC PHỤC VỤ QUÝ KHÁCH!</strong></p>
                    </div>

                    <div class="wpdiscuz_top_clearing"></div>
                    <div id="wpdiscuz-loading-bar" class="wpdiscuz-loading-bar-unauth"></div>
                    <div id="wpdiscuz-comment-message" class="wpdiscuz-comment-message-unauth"></div>


                </article>
                <div class="clearfix"></div>
                <hr><h3>BÀI VIẾT LIÊN QUAN</h3><ul class="list-unstyled">
                    <li class="pb-1 pt-1"><i class="far fa-check-circle text-success"></i> <a class="text-body" href="https://suabottot.com/top-7-sua-bot-pha-san-tot-nhat-cho-tre-duoc-nhieu-me-tin-dung/" title="TOP 7 Sữa Bột Pha Sẵn cho trẻ được yêu thích hiện nay">TOP 7 Sữa Bột Pha Sẵn cho trẻ được yêu thích hiện nay</a></li>
                    <li class="pb-1 pt-1"><i class="far fa-check-circle text-success"></i> <a class="text-body" href="https://suabottot.com/top-7-loai-sua-tang-chieu-cao-cho-be-tot-nhat/" title="7 loại sữa TĂNG CHIỀU CAO cho bé được yêu thích hiện nay">7 loại sữa TĂNG CHIỀU CAO cho bé được yêu thích hiện nay</a></li>
                    <li class="pb-1 pt-1"><i class="far fa-check-circle text-success"></i> <a class="text-body" href="https://suabottot.com/top-7-loai-sua-tang-can-cho-tre-tot-nhat/" title="7 loại Sữa Tăng Cân cho bé được các mẹ yêu thích hiện nay">7 loại Sữa Tăng Cân cho bé được các mẹ yêu thích hiện nay</a></li>
                    <li class="pb-1 pt-1"><i class="far fa-check-circle text-success"></i> <a class="text-body" href="https://suabottot.com/7-sai-lam-me-hay-mac-phai-khi-pha-sua-cong-thuc-lam-con-cham-lon/" title="5 Sai lầm mẹ hay mắc phải khi pha Sữa Công Thức khiến con chậm lớn">5 Sai lầm mẹ hay mắc phải khi pha Sữa Công Thức khiến con chậm lớn</a></li>
                    <li class="pb-1 pt-1"><i class="far fa-check-circle text-success"></i> <a class="text-body" href="https://suabottot.com/sua-non-la-gi-cac-san-pham-sua-non-tot-nhat-cho-tre-so-sinh-va-tre-nho/" title="5 Loại Sữa Non Cho Trẻ Sơ Sinh Và Trẻ Nhỏ được yêu thích">5 Loại Sữa Non Cho Trẻ Sơ Sinh Và Trẻ Nhỏ được yêu thích</a></li>
                    <li class="pb-1 pt-1"><i class="far fa-check-circle text-success"></i> <a class="text-body" href="https://suabottot.com/top-7-loai-sua-giup-tang-suc-de-khang-cho-be-tot-nhat-hien-nay/" title="5 loại sữa giúp TĂNG SỨC ĐỀ KHÁNG cho bé được yêu thích">5 loại sữa giúp TĂNG SỨC ĐỀ KHÁNG cho bé được yêu thích</a></li>
                    <li class="pb-1 pt-1"><i class="far fa-check-circle text-success"></i> <a class="text-body" href="https://suabottot.com/top-7-loai-sua-mat-giup-be-tang-can-nhanh-khong-lo-tao-bon/" title="7 Loại sữa mát giúp bé tăng cân nhanh không lo táo bón">7 Loại sữa mát giúp bé tăng cân nhanh không lo táo bón</a></li>
                    <li class="pb-1 pt-1"><i class="far fa-check-circle text-success"></i> <a class="text-body" href="https://suabottot.com/sua-nao-tot-nhat-cho-tre-so-sinh-ma-giong-voi-sua-me-nhat/" title="Sữa nào tốt nhất cho trẻ sơ sinh mà giống với sữa mẹ nhất?">Sữa nào tốt nhất cho trẻ sơ sinh mà giống với sữa mẹ nhất?</a></li>
                    <li class="pb-1 pt-1"><i class="far fa-check-circle text-success"></i> <a class="text-body" href="https://suabottot.com/top-5-loai-sua-danh-cho-nguoi-gay-giup-tang-can-tot-nhat/" title="TOP 5 Sữa TĂNG CÂN dành cho NGƯỜI GẦY tốt nhất hiện nay">TOP 5 Sữa TĂNG CÂN dành cho NGƯỜI GẦY tốt nhất hiện nay</a></li>
                    <li class="pb-1 pt-1"><i class="far fa-check-circle text-success"></i> <a class="text-body" href="https://suabottot.com/tre-so-sinh-uong-sua-gi-de-tang-can-khoe-manh/" title="7 Loại Sữa Cho Trẻ Sơ Sinh Được Yêu Thích Nhất">7 Loại Sữa Cho Trẻ Sơ Sinh Được Yêu Thích Nhất</a></li>
                </ul><div class="clearfix"></div>
            </div>


            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <div class="sticky-top">
                    <aside id="lindo_2sidebar" class="widget-area">
                        <section id="woocommerce_products-7" class="bg-white border mt-1 mb-3 rounded woocommerce widget_products">
                            <h4 class="widget-title tieude rounded-top border-bottom p-2 pt-0">SẢN PHẨM MỚI</h4>
                            <ul class="product_list_widget">
                                @foreach (var item in listCreateProduct)
                                {
                                <div class="p-2 shadow2019 border-bottom">

                                    <a href="/chi-tiet/@item.MetaTitle-@item.ID"
                                       class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                        <div class="row upsale_pro">


                                            <div class="col-8 text-left">
                                                <h2 class="woocommerce-loop-product__title">
                                                    @item.Name
                                                </h2>
                                                <div class="star-rating" role="img"
                                                     aria-label="Được xếp hạng 5.00 5 sao">
                                                    <span style="width:100%">
                                                        <img height="30" width="100"
                                                             src="/Asset/Client/img_sp/5sao.png">
                                                    </span>
                                                </div>
                                                <span class="price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <bdi>
                                                            @item.Price<span class="woocommerce-Price-currencySymbol">₫</span>
                                                        </bdi>
                                                    </span>
                                                </span>
                                            </div>

                                            <div class="col-4">
                                                <img width="80" height="80"
                                                     src="@item.Image"
                                                     class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail lazyloaded"
                                                     alt="Sữa Famna số 1"
                                                     sizes="(max-width: 250px) 100vw, 250px"
                                                     data-ll-status="loaded">
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                 }


                                </ul>
                        </section>
                    </aside><!-- #secondary -->
                </div>
            </div>

        </div>

        <div class="clearfix"></div>
    </div>
</div>

