
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">401</div>
        <p class="lead text-gray-800 mb-5">TÀI KHOẢN KHÔNG ĐƯỢC QUYỀN TRUY CẬP</p>
        <a href="~/Areas/Admin/Views/Home/Index.cshtml">Quay lại trang chủ</a>
    </div>

</div>

