
@{
    var listCreateProduct = (List<Model.EF.Product>)ViewBag.ListCreateProduct;
    ViewBag.Title = "RedeemPoint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="lindo_single_pages" class="mt-3 mb-3">
    <div class="container">


        <div class="clearfix"></div>
        <div class="row">

            <div class="col-12 col-sm-12 col-md-9 col-lg-9">
                <div class="clearfix"></div>
                <div class="breadcrumbs bg-light rounded p-1">
                    <!-- Breadcrumb NavXT 6.6.0 -->
                    <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Sữa Bột Tốt | Hệ Thống Cửa Hàng SuaBotTot.com." href="https://suabottot.com" class="home"><span property="name">Trang chủ</span></a><meta property="position" content="1"></span> » <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to the Quà tặng - Khuyến mãi category archives." href="https://suabottot.com/qua-tang-khuyen-mai/" class="taxonomy category"><span property="name">Quà tặng - Khuyến mãi</span></a><meta property="position" content="2"></span> » <span class="post post-post current-item">Mua Sữa Tích Điểm Tại Sữa Bột Tốt</span>
                </div>
                <div class="clearfix"></div>
                <article id="single-page-2019">
                    <h1 class="entry-title text-primary mt-2 mb-2 font-weight-bold">Mua Sữa Tích Điểm Tại Sữa Bột Tốt</h1><hr>
                    <div class="entry-content">
                        <h2><span style="font-size: 14pt;"><strong>Chính sách Tích Điểm khi mua sữa tại Sữa Bột Tốt</strong></span></h2>
                        <p>Với mục đích gia tăng thêm giá trị cho khách mua hàng trên phạm vi toàn quốc, Hệ thống cửa hàng Sữa Bột Tốt áp dụng chính sách tích điểm mới cho tất cả đơn hàng Sữa + Bỉm. Chương&nbsp; giúp cho tất cả quý khách hàng có những trải nghiệm mua sắm vui vẻ và thú vị với nội dung như sau:</p>
                        <p>– Với mỗi 200,000 VNĐ khách hàng sẽ được tích 1 điểm.</p>
                        <p>– Mỗi 1 điểm khách hàng tích được tương tương với khách hàng có 1,000 NVĐ trong thẻ tích điểm (mã tích điểm chính là số điện thoại của khách hàng).</p>
                        <p>– Điểm thưởng được dùng để thanh toán cho đơn hàng kế tiếp nếu khách hàng yêu cầu. (chỉ được dùng điểm của các đơn hàng đã mua trước đó, không được dùng điểm của đơn hàng hiện tại).</p>
                        <hr>
                        <h3><strong>Quyền lợi của khách hàng sẽ như sau:</strong></h3>
                        <p><strong>Đối với khách hàng trong nội thành Hà Nội:</strong></p>
                        <ul>
                            <li>Giao hàng miễn phí</li>
                            <li>Chính sách tích điểm</li>
                            <li>Chương trình hỗ trợ quà tặng, giảm giá <a href="/khuyen-mai-qua-tang" target="_blank" rel="noopener noreferrer">&gt;&gt; Xem tại đây</a></li>
                        </ul>
                        <p><strong>Đối với khách hàng ngoại thành Hà Nội và ở các tỉnh thành</strong></p>
                        <ul>
                            <li>Hỗ trợ một phần phí giao hàng</li>
                            <li>Chính sách tích điểm</li>
                            <li>Chương trình giảm giá nếu có&nbsp;<a href="/khuyen-mai-qua-tang" target="_blank" rel="noopener noreferrer">&gt;&gt; Xem tại đây</a></li>
                        </ul>
                        <p>Điểm số của Quý khách hàng sẽ có ở trên mỗi hóa đơn bán hàng. Để sử dụng điểm quý khách vui lòng liên hệ với bộ phận bán hàng theo số <strong>Hotline: <a href="tel:02432321527">02432.321.527</a> / <a href="tel:0961922556">0961.922.556</a></strong>. Quý khách cung cấp số điện thoại mua hàng sau đó nhân viên bán hàng sẽ tra cứu đơn hàng và trừ tiền trên đơn hàng.</p>
                        <p>Quý khách vui lòng cung cấp đầy đủ thông tin khi thanh toán để nhận được đầy đủ quyền lợi khi là khách hàng mua sắm tại Sữa Bột Tốt</p>
                        <p>Để biết thêm về thông tin tích điểm, xin quý khách vui lòng liên hệ P.CSKH – Hệ thống cửa hàng Sữa Bột Tốt – Suabottot.com</p>
                        <p><strong>ĐT: <a href="tel:02432321527">02432.321.527</a> / <a href="tel:0961922556">0961.922.556</a></strong>.</p>
                        <p><strong>Email</strong>: cskh@suabottot.com</p>
                    </div>

                    <div class="wpdiscuz_top_clearing"></div>
                    <div id="wpdiscuz-loading-bar" class="wpdiscuz-loading-bar-unauth"></div>
                    <div id="wpdiscuz-comment-message" class="wpdiscuz-comment-message-unauth"></div>


                </article>
                <div class="clearfix"></div>
                <hr><h3>BÀI VIẾT LIÊN QUAN</h3><ul class="list-unstyled">
                    <li class="pb-1 pt-1"><i class="far fa-check-circle text-success"></i> <a class="text-body" href="https://suabottot.com/sua-bot-tot-khuyen-mai-qua-tang-tich-diem-giam-gia/" title="Mua Sữa Gì Cũng Được Khuyến Mãi-Tích Điểm Tháng 8-2021 ✅">Mua Sữa Gì Cũng Được Khuyến Mãi-Tích Điểm Tháng 8-2021 ✅</a></li>
                    <li class="pb-1 pt-1"><i class="far fa-check-circle text-success"></i> <a class="text-body" href="https://suabottot.com/sua-morinaga-khuyen-mai-don-thu-sang-ngap-tran-qua-tang/" title="Sữa Morinaga Khuyến mãi “Sữa Mát Từ Nhật”">Sữa Morinaga Khuyến mãi “Sữa Mát Từ Nhật”</a></li>
                    <li class="pb-1 pt-1"><i class="far fa-check-circle text-success"></i> <a class="text-body" href="https://suabottot.com/sua-meiji-khuyen-mai-xe-may-dien-xe-thang-bang-xe-scooter/" title="Sữa MEIJI Khuyến Mãi “MÙA HÈ VUI NHỘN” 2021">Sữa MEIJI Khuyến Mãi “MÙA HÈ VUI NHỘN” 2021</a></li>
                    <li class="pb-1 pt-1"><i class="far fa-check-circle text-success"></i> <a class="text-body" href="https://suabottot.com/vitadairy-khuyen-mai-qua-tang-gia-tri/" title="Vitadairy Khuyến Mãi “Mùa Hè Đến Nhận Quà Tời Bến” 2021">Vitadairy Khuyến Mãi “Mùa Hè Đến Nhận Quà Tời Bến” 2021</a></li>
                    <li class="pb-1 pt-1"><i class="far fa-check-circle text-success"></i> <a class="text-body" href="https://suabottot.com/sua-hikid-khuyen-mai-qua-tang-toan-quoc/" title="Sữa Hikid Khuyến Mãi Siêu HOT Quà Tặng Trị Giá Tại Sữa Bột Tốt">Sữa Hikid Khuyến Mãi Siêu HOT Quà Tặng Trị Giá Tại Sữa Bột Tốt</a></li>
                    <li class="pb-1 pt-1"><i class="far fa-check-circle text-success"></i> <a class="text-body" href="https://suabottot.com/sua-kid-power-khuyen-mai-qua-tang-sieu-hot-tai-sua-bot-tot/" title="Sữa Kid Power Khuyến Mãi Quà Tặng Siêu HOT tại Sữa Bột Tốt">Sữa Kid Power Khuyến Mãi Quà Tặng Siêu HOT tại Sữa Bột Tốt</a></li>
                    <li class="pb-1 pt-1"><i class="far fa-check-circle text-success"></i> <a class="text-body" href="https://suabottot.com/sua-p100-khuyen-mai-qua-tang-hap-dan-cho-me-va-be/" title="Sữa P100 Eurofit Khuyến Mãi Quà tặng hấp dẫn 2021">Sữa P100 Eurofit Khuyến Mãi Quà tặng hấp dẫn 2021</a></li>
                    <li class="pb-1 pt-1"><i class="far fa-check-circle text-success"></i> <a class="text-body" href="https://suabottot.com/bim-goon-khuyen-mai-hot/" title="Bỉm Goon Khuyến Mãi Siêu Giảm Giá Tháng T4/2021">Bỉm Goon Khuyến Mãi Siêu Giảm Giá Tháng T4/2021</a></li>
                    <li class="pb-1 pt-1"><i class="far fa-check-circle text-success"></i> <a class="text-body" href="https://suabottot.com/sua-aptamil-khuyen-mai-qua-tang-o-to-dien-xe-may-dien/" title="Sữa Aptamil Khuyến Mãi Quà Tặng Ngập Tràn 2021">Sữa Aptamil Khuyến Mãi Quà Tặng Ngập Tràn 2021</a></li>
                    <li class="pb-1 pt-1"><i class="far fa-check-circle text-success"></i> <a class="text-body" href="https://suabottot.com/sua-non-goodhealth-khuyen-mai/" title="Sữa non Goodhealth Khuyến Mãi Mua 1 Tặng 1 Mùa Dịch COVID 19">Sữa non Goodhealth Khuyến Mãi Mua 1 Tặng 1 Mùa Dịch COVID 19</a></li>
                </ul><div class="clearfix"></div>
            </div>


            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <div class="sticky-top">
                    <aside id="lindo_2sidebar" class="widget-area">
                        <section id="woocommerce_products-7" class="bg-white border mt-1 mb-3 rounded woocommerce widget_products">
                            <h4 class="widget-title tieude rounded-top border-bottom p-2 pt-0">SẢN PHẨM MỚI</h4><ul class="product_list_widget">
                                @foreach (var item in listCreateProduct)
                                {
                                    <div class="p-2 shadow2019 border-bottom">

                                        <a href="/chi-tiet/@item.MetaTitle-@item.ID"
                                           class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                            <div class="row upsale_pro">


                                                <div class="col-8 text-left">
                                                    <h2 class="woocommerce-loop-product__title">
                                                        @item.Name
                                                    </h2>
                                                    <div class="star-rating" role="img"
                                                         aria-label="Được xếp hạng 5.00 5 sao">
                                                        <span style="width:100%">
                                                            <img height="30" width="100"
                                                                 src="/Asset/Client/img_sp/5sao.png">
                                                        </span>
                                                    </div>
                                                    <span class="price">
                                                        <span class="woocommerce-Price-amount amount">
                                                            <bdi>
                                                                @item.Price<span class="woocommerce-Price-currencySymbol">₫</span>
                                                            </bdi>
                                                        </span>
                                                    </span>
                                                </div>

                                                <div class="col-4">
                                                    <img width="80" height="80"
                                                         src="@item.Image"
                                                         class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail lazyloaded"
                                                         alt="Sữa Famna số 1"
                                                         sizes="(max-width: 250px) 100vw, 250px"
                                                         data-ll-status="loaded">
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                }
                            </ul>
                        </section>
                    </aside><!-- #secondary -->
                </div>
            </div>

        </div>

        <div class="clearfix"></div>
    </div>
</div>

