
<!DOCTYPE html>
<html lang="vi" id="html">

<head>
    <title>Sữa bột tốt | Hệ thống cửa hàng Sữa Bột Chính Hãng - Giá Rẻ - Giao Hàng Toàn Quốc</title>
    <link href="https://suabottot.com/wp-content/uploads/2019/11/favicon-1.ico" rel="shortcut icon" type=image/x-icon>
    <meta property="og:image" content="https://suabottot.com/wp-content/uploads/2020/09/sua-bot-tot.png">
    <link href="/Asset/Client/css/sectionhome.css" rel="stylesheet" />
    <link href="/Asset/Client/css/home.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/olton/Metro-UI-CSS/master/build/css/metro-icons.min.css">
    <link href="/Asset/Client/css/jquery-ui.css" rel="stylesheet" />
</head>

<body>
    <div id="header-dt" class="d-none d-md-block">
        <section class="headert pt-2">
            <div class="container">
                <div class="row">
                    <div class="col-6 text-left pt-1">
                        <h2 id="seo_h1" class="font-weight-bold">
                            Hệ
                            thống CH Sữa Bột Tốt | Giao Hàng Toàn Quốc, Miễn Phí Hà Nội
                        </h2>


                    </div>
                    <div class="col text-right">
                        <span class="ht_phone btn btn-danger text-white btn-sm">
                            Hotline :
                            <a rel="nofollow" title="hotline" class="text-white" href="###">
                                <strong> 0961 922 556</strong>
                            </a>
                        </span>



                        <a class="pl-1" rel="nofollow" href="#">
                            <img width="32" height="32"
                                 src="https://suabottot.com/wp-content/themes/lindo/module/img/facebook.png"
                                 alt="facebook" class="lazyloaded" data-ll-status="loaded"><noscript>
                                <img width="32"
                                     height="32"
                                     src="https://suabottot.com/wp-content/themes/lindo/module/img/facebook.png"
                                     alt="facebook">
                            </noscript>
                        </a>

                        <a class="pl-1" rel="nofollow" href="#">
                            <img width="32" height="32"
                                 src="https://suabottot.com/wp-content/themes/lindo/module/img/youtube.png" alt="youTube"
                                 class="lazyloaded" data-ll-status="loaded"><noscript>
                                <img width="32" height="32"
                                     src="https://suabottot.com/wp-content/themes/lindo/module/img/youtube.png"
                                     alt="youTube">
                            </noscript>
                        </a>

                        <a class="pl-1" rel="nofollow" href="#">
                            <img width="32" height="32"
                                 src="https://suabottot.com/wp-content/themes/lindo/module/img/zalo.png" alt="zalo"
                                 class="lazyloaded" data-ll-status="loaded"><noscript>
                                <img width="32" height="32"
                                     src="https://suabottot.com/wp-content/themes/lindo/module/img/zalo.png"
                                     alt="zalo">
                            </noscript>
                        </a>


                    </div>
                </div>
            </div>

        </section>
        <div class="w-100 gline"> </div>
        <header id="header-1" class="header-1">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <a class="logo" title="Sữa Bột Tốt | Hệ Thống Cửa Hàng SuaBotTot.com" href="/trang-chu" rel="home"
                           aria-label="logo">
                            <img width="278" height="79" class="img-fluid lazyloaded"
                                 alt="logo Sữa Bột Tốt | Hệ Thống Cửa Hàng SuaBotTot.com"
                                 src="https://suabottot.com/wp-content/uploads/2015/07/logo-suabotot-web.png"
                                 data-ll-status="loaded"><noscript>
                                <img width="278" height="79" class="img-fluid"
                                     alt="logo Sữa Bột Tốt | Hệ Thống Cửa Hàng SuaBotTot.com"
                                     src="https://suabottot.com/wp-content/uploads/2015/07/logo-suabotot-web.png">
                            </noscript>
                        </a>
                    </div>

                    <div class="col-9">
                        <div class="row">
                            <div class="col-8 col-md-6 col-lg-6 col-xl-8 mt-4">
                                <div id="woocommerce_product_search-2" class="widget-header">
                                    <p class="widget-title-search">Tìm Kiếm</p>
                                    <form role="search" method="get" class="woocommerce-product-search" action="/tim-kiem">
                                        <div class="row">
                                            <div class="col-9 col-sm-9 col-md-10 pr-0">
                                                <input type="search" id="woocommerce-product-search-field-0"
                                                       class="search-field w-100" placeholder="Tìm sản phẩm..." value=""
                                                       name="keyword">
                                            </div>
                                            <div class="col-3 col-sm-3 col-md-2 pl-0">

                                                <button class="submit w-100" type="submit" value="Tìm kiếm">
                                                    Tìm
                                                </button>
                                            </div>
                                        </div>


                                        <input type="hidden" name="post_type" value="product">
                                    </form>
                                </div>
                            </div>
                            @{ Html.RenderAction("HeaderCart", "Home"); }
                            <div id="lindo_login" class="col-2 col-md-3 col-lg-3 col-xl-2 mt-3">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="/Asset/Client/img/login.png" height="30" width="30">
                                    </div>
                                    <div class="col-9">

                                        <a class="text-muted" href="/tai-khoan">
                                            <strong>XIN CHÀO</strong><br>
                                            <span class="badge badge-pill badge-secondary">Tài khoản</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <div class="container">
        <div id="primary" class="content-area">
            <section>
                @RenderSection("slide", required: false)
            </section>
            @RenderBody()
        </div>
    </div>


    <div id="box_camket" class="tintuong bg-light mt-3 pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-3">
                    <table border="0">
                        <tbody>
                            <tr>
                                <td>
                                    <img height="50px" width="50px" src="/Asset/Client/img/matcuoi.png">
                                </td>
                                <td>
                                    <p class="pt-3 pl-2">
                                        2 triệu khách hàng<br> Tin tưởng mua sắm
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6 col-md-3">
                    <table border="0">
                        <tbody>
                            <tr>
                                <td>
                                    <img src="/Asset/Client/img/like.png" height="50px" width="50px">
                                </td>
                                <td>
                                    <p class="pt-3 pl-2">
                                        Cam kết 100%<br> Hàng chính hãng
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6 col-md-3">
                    <table border="0">
                        <tbody>
                            <tr>
                                <td>
                                    <img src="/Asset/Client/img/giaohang.png" height="50px" width="50px">
                                </td>
                                <td>
                                    <p class="pt-3 pl-2">
                                        Giao hàng toàn quốc<br> Miễn phí Hà Nội
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6 col-md-3">
                    <table border="0">
                        <tbody>
                            <tr>
                                <td>
                                    <img height="50px" width="50px" src="/Asset/Client/img/doitra.png">
                                </td>
                                <td>
                                    <p class="pt-3 pl-2">
                                        Đổi trả hàng miễn phí<br> Trong vòng 7 ngày
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <footer>
        @{ Html.RenderAction("Footer", "Home");}
    </footer>
    <style>
        a {
            color: #007bff;
            text-decoration: none;
            background-color: transparent
        }
    </style>

    <script src="/Asset/Client/js/jquery-3.6.0.js"></script>
    <script src="/Asset/Client/js/jquery-ui.js"></script>
    <script src="/Asset/Client/js/controller/baseController.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/Asset/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/Asset/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/Asset/Client/js/controller/cartController.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>

</body>

</html>
