
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Chào Mừng Đến Với Hệ Thống Quản Trị Web suabotot.com !</h1>

